@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jockey One', sans-serif;
    color: whitesmoke;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}
.regio-titel {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
h1 {
    color: rgb(0, 35, 75);
}
.container-all {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.sidebar-btn {
    padding: 10px 15px;
    background-color: rgb(234, 99, 45);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    width: 10%;
    position: absolute; /* Plaats de knop relatief aan de sidebar */
    bottom: 20px; /* Zorg dat de knop 20px van de onderkant af staat */
    left: 20px; /* Zorg dat de knop 20px van de linkerkant af staat */
    z-index: 999;
}

.meldingen-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    align-items: stretch;
    position: relative;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(0, 35, 75);
    box-shadow: 0px 3px 18px 2px rgba(0, 0, 0, 0.491);
}

.vertical-line {
    width: 2px;
    background-color: whitesmoke;
    height: 100%;
}

.content-left, .content-right {
    flex: 1;
    padding: 20px;
    text-align: left;
    overflow-y: auto;
}

.content-left h2, .content-left p,
.content-right h2, .content-right p {
    color: whitesmoke;
}
.content-left p, .content-right p {
    color: rgba(255, 255, 255, 0.626); /* Maak wit iets doorzichtig */
}
